<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A modern Deno framework inspired by Laravel." />
    <meta name="author" content="Honovel" />
    <!-- icon -->
    <link rel="icon" type="image/png" href="/system-assets/logo/h.png" />
    <title>Welcome</title>

    <!-- Tailwind -->
    <script src="/system-assets/js/tailwind.js"></script>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">
    <div class="relative flex min-h-screen items-center justify-center">
      <div class="max-w-7xl mx-auto p-6 lg:p-8">
        <div class="flex justify-center">
          <h1 class="text-5xl font-semibold text-gray-900 dark:text-white">
            Honovel
          </h1>
        </div>

        <div class="mt-8 text-center">
          <p class="text-gray-600 dark:text-gray-400">
            A modern Deno framework inspired by Laravel.
          </p>
        </div>

        <div
          class="mt-10 flex items-center justify-center gap-6 text-sm font-semibold"
        >
          <a
            href="https://deno.com"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
          >
            Deno
          </a>

          <a
            href="https://hono.dev"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
          >
            Hono
          </a>

          <a
            href="https://edgejs.dev/docs/introduction"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
          >
            Edge
          </a>

          <a
            href="https://github.com/kiratrizon/honovel"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
          >
            GitHub
          </a>

          <a href="https://honovel.deno.dev"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-400 hover:text-indigo-500"
          >
            Honovel Docs
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
